.span {
  font-size: 17px;
}
.image {
  padding-top: 50px;
}
.columone {
  padding-top: 90px;
  padding-left: 50px;
}
.fahad {
  padding-top: 10px;
}
.description {
  width: 236px;
  height: 78px;
  padding-top: 10px;
  line-height: 25px;
}
.buton {
  margin-top: -15px;
}
.social {
  padding-top: 30px;
}
.socialicon {
  padding-right: 10px;
}
